.screen{
    position: relative;
    height: 90vh;
    width: 100vw;
    overflow: scroll;
}

.superboton{
    position: fixed;
    top: 20px;
    left: 20px;
    height: 50px;
    width: 50px;
    background: grey;
    z-index: 11;
}