.songbook-page
{
    width: calc(95*var(--vw));
    margin: calc(2.5*var(--vw));

}

.card{
    width: calc(90 * var(--vw));
    margin: calc(5 * var(--vw));
    border-radius: calc(2 * var(--vh));
    background: rgb(223, 241, 248);
}

.card-input{
    width: 90%;
    margin: 5%;
    font-size: calc(3.5 * var(--vh));
}

.card-header{
    width: 90%;
    padding: 5%;
    margin-bottom: 0;
    font-size: calc(4 * var(--vh));
}

.card-input-selector{
    width: 90%;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
}

.selector-input{
    font-size: calc(2.5 * var(--vh));
    padding: calc(0.5*var(--vh));
    margin: calc(0.5*var(--vh));
    border-radius: calc(1 * var(--vh));
}

.songbook-header
{
    position: sticky;
    top: 0;
    padding-top: calc(2 * var(--vh));
    background: white;
}

.songbook-buscador:focus{
    border-bottom: calc(0.1 * var(--vh)) solid darkblue;
}

.songbook-header:focus-within::before{
    top: 0;
    height: calc(2*var(--vh));
    font-size: calc(2*var(--vh));
}

.songbook-buscador
{
    outline: none;
    border: none;
    border-bottom: calc(0.1 * var(--vh)) solid lightblue;
    width: calc(95*var(--vw));
    margin: calc(2.5*var(--vw));
    font-size: calc(4*var(--vh));
    background: none;
}

.songbook-header::before
{
    content: 'Buscador';
    position: absolute;
    top: calc(2*var(--vh));
    left: 0;
    width: calc(95*var(--vw));;
    height: calc(4*var(--vh));
    font-size: calc(4*var(--vh));
    color: rgb(162, 176, 200);
    padding: calc(2.5*var(--vw));
    transition: all 0.3s ease-in-out;
    z-index: -1;
}

.songbook-entry
{
    text-align: center;
    width: calc(80*var(--vw));
    margin: calc(5*var(--vw));
    padding: calc(5*var(--vw));
    padding-bottom: calc(2*var(--vw));
    padding-top: calc(2*var(--vw));
    font-size: calc(5*var(--vw));
    background: lightblue;
    border-radius: calc(1*var(--vh));
}

.songbook-page-buttons
{
    width: calc(100*var(--vw));
    display: flex;
    position: sticky;
    bottom: 0;
    left: 0;
}

.songbook-page-button{
    font-size: calc(5*var(--vw));
    font-weight: 300;
    margin: calc(2*var(--vh));
    padding: calc(1*var(--vh));
    border-radius: calc(1*var(--vh));
    background: darkblue;
    color: white;
}

.cinta-filtros
{
    display: flex;
    width: calc(100*var(--vw));
    overflow: scroll;
}

.cinta-filtros-botones
{
    font-size: calc(5*var(--vw));
    padding: calc(3*var(--vw));
    white-space: nowrap;
}

.songbook-editor-input
{
    font-size: calc(5*var(--vw));
    width: calc(90*var(--vw));
    height: calc(80*var(--vh));
    margin: calc(2.5*var(--vw));
}

.letra
{
    font-size: calc(5*var(--vw));
    margin-top: calc(3*var(--vh));
    white-space: nowrap;
}

.acorde
{
    position: relative;
}

.acorde::after
{
    color: rgb(118, 171, 189);
    padding-left: calc(1.25*var(--vw));
    padding-right: calc(1.25*var(--vw));
    text-align: center;
    border-radius: calc(0.3*var(--vh));
    position: absolute;
    top: calc(-5*var(--vw));
    left: calc(0*var(--vh));
}

.acorde:active::after
{
    background: grey;
}

.C::after
{
    content: 'C';
}
.Cs::after
{
    content: 'C#';
}
.C7::after
{
    content: 'C7';
}
.Cs7::after
{
    content: 'C#7';
}
.Cm::after
{
    content: 'Cm';
}
.Csm::after
{
    content: 'C#m';
}
.Cm7::after
{
    content: 'Cm7';
}
.Csm7::after
{
    content: 'C#m7';
}
.D::after
{
    content: 'D';
}
.Ds::after
{
    content: 'D#';
}
.D7::after
{
    content: 'D7';
}
.Ds7::after
{
    content: 'D#7';
}
.Dm::after
{
    content: 'Dm';
}
.Dsm::after
{
    content: 'D#m';
}
.Dm7::after
{
    content: 'Dm7';
}
.Dsm7::after
{
    content: 'D#m7';
}
.E::after
{
    content: 'E';
}
.Es::after
{
    content: 'E#';
}
.E7::after
{
    content: 'E7';
}
.Es7::after
{
    content: 'E#7';
}
.Em::after
{
    content: 'Em';
}
.Esm::after
{
    content: 'E#m';
}
.Em7::after
{
    content: 'Em7';
}
.Esm7::after
{
    content: 'E#m7';
}
.F::after
{
    content: 'F';
}
.Fs::after
{
    content: 'F#';
}
.F7::after
{
    content: 'F7';
}
.Fs7::after
{
    content: 'F#7';
}
.Fm::after
{
    content: 'Fm';
}
.Fsm::after
{
    content: 'F#m';
}
.Fm7::after
{
    content: 'Fm7';
}
.Fsm7::after
{
    content: 'F#m7';
}
.G::after
{
    content: 'G';
}
.Gs::after
{
    content: 'G#';
}
.G7::after
{
    content: 'G7';
}
.Gs7::after
{
    content: 'G#7';
}
.Gm::after
{
    content: 'Gm';
}
.Gsm::after
{
    content: 'G#m';
}
.Gm7::after
{
    content: 'Gm7';
}
.Gsm7::after
{
    content: 'G#m7';
}
.A::after
{
    content: 'A';
}
.As::after
{
    content: 'A#';
}
.A7::after
{
    content: 'A7';
}
.As7::after
{
    content: 'A#7';
}
.Am::after
{
    content: 'Am';
}
.Asm::after
{
    content: 'A#m';
}
.Am7::after
{
    content: 'Am7';
}
.Asm7::after
{
    content: 'A#m7';
}
.B::after
{
    content: 'B';
}
.Bs::after
{
    content: 'B#';
}
.B7::after
{
    content: 'B7';
}
.Bs7::after
{
    content: 'B#7';
}
.Bm::after
{
    content: 'Bm';
}
.Bsm::after
{
    content: 'B#m';
}
.Bm7::after
{
    content: 'Bm7';
}
.Bsm7::after
{
    content: 'B#m7';
}
