.messageBox{
    position: fixed;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: auto;
    background: white;
    box-shadow: 2px 2px 5px grey;
    animation: appear 0.7s;
    z-index: 11;
}

.messageBox header{
    width: 90%;
    height: auto;
    padding: 5%;
    font-size: 3vh;
}

.messageBox p{
    margin: 0;
    width: 90%;
    height: auto;
    padding: 5%;
    font-size: 1vh;
}

.messageBox input{
    all: unset;
    border: 0.5vw solid darkblue;
    width: 90%;
    margin: 5%;
    border-radius: 4px;
    text-indent: 3%;
    box-sizing: border-box;
    font-size: 3vh;
}

.messageBox button{
    all: unset;
    position: relative;
    font-size: 3vh;
    padding: 1vh; 
    width: 50%;
    float: right;
    border-top: 0.2vw solid darkblue;
    box-sizing: border-box;
    text-align: center;
    background: rgba(11, 12, 97, 0.397);
}

.messageBox button:active{
    background: rgba(139, 146, 238, 0.852);
}

.messageBox button:last-child{
    float: left;
    border-right: 0.2vw solid darkblue;
}

@keyframes appear {
    from {top: -50vh;}
    to {top: 0vh;}
}

@keyframes disappear {
    from {top: 0vh;}
    to {top: -50vh;}
}