.tarjeta{
    position: relative;
    width: 90%;
    height: auto;
    margin: 5%;
    border-radius: 10px;
    overflow: hidden;
}

.tarjeta-titulo{
    padding: calc(4*var(--vw));
    font-weight: 600;
    flex: 1;
}

.tarjeta-lista-item{
    width: 92%;
    padding: 4%;
    font-weight: 200;
    font-size: calc(2.5*var(--vh));
    transition: height 0.5s ease-in-out;
}

.tarjeta img{
    position: absolute;
    right: -3%;
    top:-15%;
    height: 60%;
}

.tarjeta-encabezado{
    display: flex;
    text-align: left;
    width: 100%;
    height: calc(7*var(--vh));
    border: calc(0.5*var(--vh)) solid rgb(136, 102, 40);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-sizing: border-box;
}

.tarjeta-fecha{
    position: relative;
    padding: calc(1*var(--vw));
    text-align: right;
    font-weight: 600;
}

.tarjeta-mes{ 
    width: 100%;
    text-align: center;
    height: 25%;
}

.tarjeta-dia{    
    font-size: 200%;
    width: 100%;
    text-align: center;
}

.tarjeta-cuerpo{
    background: rgb(235, 220, 190);
    overflow-y: scroll;
    height:
}